*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

body{
    max-width: 980px;
}

header{
    display: flex;
    width: 100%;
}

.navigations{
    display: flex;
}

.cartArea ul{
    display: flex;
}

.cards{
    display: flex;

}